services:
  app:
    env_file:
      - .env
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: rebuild
          path: ./

  db:
    env_file:
      - .env
    image: postgres
    restart: always
    shm_size: 128mb

  adminer:
    image: adminer
    restart: always
    ports:
      - "8888:8080"
