services:
  app:
    env_file:
      - .env
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - "8080:8080"
    develop:
      watch:
        - action: rebuild
          path: ./
    depends_on:
      db:
        condition: service_healthy

  db:
    env_file:
      - .env
    image: postgres
    restart: always
    shm_size: 128mb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    
  migrations:
    build:
      context: .
      dockerfile: Dockerfile.migrations
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

  adminer:
    image: adminer
    restart: always
    ports:
      - "8888:8080"
